/*update version.php to see changes*/
.block_activityfeedback_container {
    /*https://wiki.selfhtml.org/wiki/HTML/Tutorials/Bilder_im_Internet/Bilder_mit_CSS_formatieren#Der_Normalfall:_mehrere_Bilder_nebeneinander*/
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    display: inline-block;*/
    /*display: flex;*/
    /*color: red;*/
    position: absolute;
    left: 80%;
    top: 0%;
    /*z-index: 1;*/
}
img.block_activityfeedback_btn_main {
    cursor: pointer;
    max-width: 50px;
    /*todolig ok? ähnl. icon, siehe smartphone, da auch fest 24px*/
    height: auto;
    border-radius: 50%;/*rounded image*/
    box-shadow: -2px 2px 5px #7d0a52;
    /*evtl. hover: transform: scale(1.1);*/
}
img.block_activityfeedback_btn_main:hover {
    transform: scale(1.1);/*todolig: wird blurry, auch mit max-width od. scale down*/
}
.block_activityfeedback_btn { 
    /*cursor: pointer;*/
    max-width: 80px;
    height: auto;
}
.block_activityfeedback_figopt {
    cursor: pointer;
    display: inline-block;/*inline-table auch mögl.*/
    margin: 0.5rem;
    color: white;
    /*width: max-content nicht nötig, schadet nicht*/
}
img.block_activityfeedback_selected {
    /*border: 5px solid red;*/
    /*evtl. Text umrahmen/fett o.ä. bild schwierig weil vermutl. rund*/
}
img.block_activityfeedback_not_selected {
    filter: grayscale(100%);
}
.popover_wrapper {
    /*position: relative;*/;
    /*margin-top: 1.5rem;*/
    /*display: inline-block;*/
}
.popover_content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: calc(0.8rem + 100%);/*rechter Rand mit 0.5 abstand zu rechtem Rand vom parent (mainImg)*/
    top: -1.5rem;/*etwa gleich hoch wie imgMain*/
    /*transform: translate(0, 10px);*/
    background-color: #502479; /*Corporate Violett statt grau b3b2b2;*/
    /*padding: 1.5rem;*/
    box-shadow: -5px 5px 10px 0px #7d0a52; /*Sekundärfarbe Purpurrot statt grau #b3b2b2;*/
    width: max-content;/*damit inline-block fkt. dass nebeneinander*/
    /*mit max-content auch fkt auch alternativen ohne width*/
    /*display: flex;*/
    border-radius: 8px;
}
.popover_content:before { /*arrow*/
    position: absolute;
    z-index: -1; /*hinter allem*/
    content: "";
    right: -0.6rem;
    top: calc(50% - 16%);
    border-style: solid;
    border-width: 10px 0px 10px 10px;/*Dreieck nach rechts zeigend, rechts angemacht*/
    border-color: transparent transparent transparent #502479;/*Dreieck, links flach*/
    /*transition-duration: 0.3s;
    transition-property: transform;*/
    /*evtl. besser verständlich:
    https://stackoverflow.com/questions/23420617/emulate-the-bootstrap-side-popover-without-javascript
     */
}
/*was mit content (descendant von wrapper) passiert bei hover*/
/*.popover_wrapper:hover .popover_content {*/
/*    z-index: 10; !*vor allem*!*/
/*    opacity: 1;*/
/*    visibility: visible;*/
/*    !*transform: translate(0, -20px);*/
/*    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);*!*/
/*}*/
.popover_content.popover_visible {
    z-index: 100; /*vor restl. Elems angeordnet*/
    opacity: 1;
    visibility: visible;
}

/*img:hover {
    transform: scaleY(-1);
} auf KOpf drehen vermutlich*/
/*rundherum: transform:rotate(360deg);*/
/*animation: 1s infinite alternate pulse; z.B. mit scale:1.2 vergrössern/verkleinern*/

/*
https://docs.moodle.org/dev/Blocks
html_attributes

siehe auch block_simplehtml:
$this->content->text .= html_writer::start_tag('ul');
 */